@import "..//App.scss";

.filter {
  padding: 20px 0;
  font-weight: normal;

  &_text-1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &_text-2 {
    font-size: 1.8rem;
    color: $color-blue;
    margin-bottom: 1rem;
  }

  &_container {
    max-width: 400px;
    @include flex;

    &-item {
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: capitalize;
      border-radius: 10rem;
      padding: 10px;
      border: 2px solid $color-gray;
      cursor: pointer;
    }

    &-shapes {
      cursor: pointer;
      border-radius: 10rem;
      padding: 15px;

      @media only screen and (max-width: $bp-smallest) {
        padding: 11px;
      }
    }
  }

  &_shape {
    &-active {
      border: 5px solid $color-cyan-light;
    }

    &-inactive {
      border: 2px solid $color-gray;
    }
  }

  &_color {
    &-active {
      border: 5px solid $color-cyan-light;
    }

    &-inactive {
      border: 2px solid transparent;
    }
  }
}

.main {
  padding: 20px 0;

  &_container {
    @include flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &_bg {
    background-color: $color-white;
    padding: 30px 50px;
    margin: 0 10px 20px 0;

    @media only screen and (max-width: $bp-medium) {
      padding: 15px 30px;
    }
  }
}

.shapes {
  width: 25%;
  margin-top: 35px;

  @media only screen and (max-width: $bp_medium) {
    width: 55%;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: auto;
  }
}

.rounded {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;

  @media only screen and (max-width: $bp-medium) {
    width: 60px;
    height: 60px;
  }
}

.oval {
  width: 60px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;

  @media only screen and (max-width: $bp-medium) {
    width: 40px;
    height: 60px;
  }
}

.square {
  width: 80px;
  height: 80px;
  display: inline-block;

  @media only screen and (max-width: $bp-medium) {
    width: 60px;
    height: 60px;
  }
}
.rectangle {
  width: 150px;
  height: 80px;
  display: inline-block;

  @media only screen and (max-width: $bp-medium) {
    width: 130px;
    height: 60px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  display: inline-block;

  @media only screen and (max-width: $bp-medium) {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  }
}
