@import "../App.scss";

.nav {
  background-color: $color-white;
  box-shadow: 0 6px 6px -6px $color-gray;

  &_content {
    @include flex;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 400;

    @media only screen and (max-width: 30em) {
      padding: 10px 0;
    }
  }

  &_text-right {
    color: $color-red;
  }
}
