// COLORS
$color-red: red;
$color-blue: blue;
$color-green: green;
$color-yellow: yellow;
$color-cyan: cyan;
$color-gray: #aaa;
$color-white: #fff;
$color-cyan-light: #b6cbfb;

// RESPONSVIE BREAKPOINT
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //900px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px/16

// MIXINS
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;

  padding: 0;
  background-color: #f5f6fc !important;
}

a,
a:link {
  color: inherit;
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 40%;
  }
}

image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 80vw;
  margin: 0 auto;

  @media only screen and (max-width: 30em) {
    max-width: 85vw;
  }
}

.red {
  background-color: $color-red;
}

.blue {
  background-color: $color-blue;
}
.green {
  background-color: $color-green;
}
.yellow {
  background-color: $color-yellow;
}
.cyan {
  background-color: $color-cyan;
}
.gray {
  background-color: $color-gray;
}
